<html>

<head>
    <title>Blaster Maker</title>

    <script src="js/lib/vue.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="js/lib/html2canvas.js"></script>

    <script src="js/lib/uikit.min.js"></script>

    <script src="js/lib/fps.js"></script>


    <script src="js/navbar.js"></script>

    <link rel="stylesheet" href="css/lib/uikit.css" />

    <link rel="stylesheet" href="css/style.css?asd=sd">

    <script src="js/lib/img_box.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <script src="js/lib/jquery.js"></script>

    <script src="js/lib/axios.js"></script>

    <script>if (window.module) module = window.module;</script>


</head>

<body id="body">
    <nav id="navbar" class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="#">
                <img src="img/logo.png" width="28" height="28"> 
                 Blaster Maker <sup>BETA</sup>
            </a>

            <ul class="uk-navbar-nav">
                <li>
                    <a onclick="showLayout('new')">
                        Nuevo
                    </a>
                </li>



                <li>
                    <a href="#">Ver</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">

                            <li>
                                <a onclick="toggleGrid()">
                                    <i class="fas fa-border-all"></i>  Rejilla
                                </a>
                            </li>
                            <li>
                                <a onclick="toggleIds()">
                                    <i class="fas fa-eye-dropper"></i>  Colores
                                </a>
                            </li>
                            <li>
                                <a onclick="launchFullScreen(document.documentElement)">
                                    <i class="fas fa-expand"></i>  Pantalla completa
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>


                <li>
                    <a href="#">Editar</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">

                            <li>
                                <a onclick="undo()">
                                    <i class="fas fa-reply"></i>  Deshacer
                                </a>
                            </li>

                            <li>
                                <a onclick="rotateRight()">
                                    <i class="fas fa-redo"></i>  Rotar a la derecha
                                </a>
                            </li>

                            <li>
                                <a onclick="rotateLeft()">
                                    <i class="fas fa-undo"></i>  Rotar a la izquierda
                                </a>
                            </li>

                            <li>
                                <a onclick="flipHorizontal()">
                                    <i class="fas fa-arrows-alt-h"></i>  Invertir horizontalmente
                                </a>
                            </li>

                            <li>
                                <a onclick="flipVertical()">
                                    <i class="fas fa-arrows-alt-v"></i>  Invertir verticalmente
                                </a>
                            </li>

                           <!-- <li>
                                <a onclick="crop()">
                                    <i class="fas fa-crop"></i>  Recortar
                                </a>
                            </li>
                        -->
                            <li>
                                <a onclick="newDraw(width,height)">
                                    <i class="fas fa-trash-alt"></i>  Limpiar
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>


            </ul>


        </div>
    </nav>
    <div id="pausedOverlay" class="overlay"></div>


    <!-- TODO: cambiar a canvas -->

    <div id="app">

        <div id="modal-magic-print" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Generar PDF a escala real 🧙‍♂️</h2>
                <p>
                    
                    
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-select">¿Usar Color o Codigo?</label>
                        <div class="uk-form-controls">

                            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                                <label><input value="yes" class="uk-radio" type="radio" name="colorOrCode" checked> color</label>
                                <label><input value="no" class="uk-radio" type="radio" name="colorOrCode"> codigo</label>
                            </div>


                        </div>
                    </div>

                </p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close"
                        type="button">Cancelar</button>
                    <button class="uk-button uk-button-secondary uk-modal-close"
                        onclick="printToScale()" type="button">Generar PDF</button>
                </p>
            </div>
        </div>

        <div id="new">

            <div class="btnfloat" id="closenew">
                <div role="button" tabindex="0"><i style="color: white" class="fas fa-times"></i></div>
            </div>

            <div  id="new-grid" class="uk-grid-small uk-flex-center " uk-grid>
                <div class="uk-width-1-2@l uk-width-2-3m uk-width-2-3@s uk-light uk-background-secondary uk-padding ">

                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend"><i class="fas fa-paint-brush"></i> Nuevo proyecto</legend>
                        <br>


                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Nombre</label>
                            <input id="name" v-model="name" class="uk-input" type="text" placeholder="Mi proyecto :3">
                        </div>


                        <div uk-grid>

                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label" for="form-stacked-text">Placas horizontales</label>
         
                                <input id="x" class="uk-input" type="text" value="1">
                            </div>

                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label" for="form-stacked-text">Placas verticales</label>
                                <input id="y" class="uk-input" type="text" value="1">
                            </div>
                        </div>

                        <div  class="uk-grid-small"  uk-grid>

                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label">Tamaño Beads</label>
                                <div class="uk-form-controls uk-form-controls-text">
                                    <label class="label-radio"><input class="uk-radio" value="5" id="size" type="radio"
                                            name="size" checked>
                                        5 mm</label>
                                    <label class="label-radio"><input class="uk-radio" value="2.6" id="size"
                                            type="radio" name="size">
                                        2.6 mm</label>
                                </div>
                            </div>

                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label">Paleta</label>
                                <div class="uk-form-controls uk-form-controls-text">
                                    <label class="label-radio"><input class="uk-radio" value="all" id="kit" type="radio"
                                            name="kit" checked>
                                        Todos</label>
                                    <label class="label-radio"><input class="uk-radio" value="basic" id="kit"
                                            type="radio" name="kit"> Solo Pack
                                        Basico</label>

                                </div>
                            </div>

                        </div>

                <div class="uk-grid-match uk-text-center" uk-grid>
                    <div class="uk-width-1-1@s uk-width-1-3@m">
                        <button onclick="createNew()" class="uk-margin uk-button uk-button-secondary"><i class="fas fa-plus-square"></i>   Crear</button>
                    </div>
                    <div class="uk-width-1-1@s uk-width-2-3@m">

                    <button onclick="readBeads()" class="uk-margin uk-button uk-button-primary"><i class="fas fa-reply"></i>   Abrir ultimo proyecto</button>
                </div>

                    </fieldset>


                    <hr></hr>
                    <div style="padding: 20px;">
                    <button onclick="importFromMenu()" class="uk-button uk-button-secondary uk-width-1-1 uk-button-large"><i class="fas fa-magic"></i>  Crear a partir de Imagen</button>
                </div>
                </div>

        </div>
    </div>
        <div id="info">
            <div class="btnfloat" id="closeinfo">
                <div role="button" tabindex="0"><i style="color: white" class="fas fa-times"></i></div>
            </div>
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s" id="colorsheet-container">
                    <div id="colorssheet">

                        <div id="info-table" class="table-container">

                            <table class="uk-table uk-table-divider uk-light uk-background-secondary">

                                <thead>
                                    <tr class="heading">
                                        <th><i id="info-icon" class="header-icon fas fa-info"></i> Informacion General
                                        </th>
                                        <th id="pdf-container">
                                            <button data-html2canvas-ignore="True" uk-tooltip="Imprimir" class="icon-reset" onclick="printTable()"><i id="pdf-icon"
                                                    class="far fa-file-pdf"></i></button>
                                            <button data-html2canvas-ignore="True" uk-tooltip="Descargar como Imagen" class="icon-reset" onclick="downloadTable()"><i
                                                    id="img-icon" class="far fa-file-image"></i></button>
                                            <button data-html2canvas-ignore="True" uk-tooltip="Descargar Imagen" class="icon-reset" onclick="downloadImage()"><i
                                                    id="fullimage" class="fas fa-image"></i></button>
                                            <button data-html2canvas-ignore="True" uk-tooltip="Imprimir a escala" class="icon-reset"><i
                                                    id="printeable-icon" class="fas fa-hat-wizard" uk-toggle="target: #modal-magic-print"></i></button>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td><i class="fas fa-file-alt"></i> Nombre</td>
                                        <td style="width: 120px;"><input data-html2canvas-ignore="True" id="nameInput" type="text" v-model="name"></input> <span id="projectName">{{name}}</span>  </td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-eye-dropper"></i> Paleta</td>
                                        <td style="width: 120px;">{{colorPalette}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-dot-circle"></i> Tamaño beads</td>
                                        <td style="width: 120px;">{{beadSize}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-arrows-alt"></i> Cantidad de placas</td>
                                        <td style="width: 120px;">{{size}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fas fa-circle"></i> Beads usados</td>
                                        <td style="width: 120px;">{{total}}</td>
                                    </tr>
                                    <tr v-if="beta" id="publicTr" data-html2canvas-ignore="True">
                                        <td><i class="fas fa-cloud-upload-alt"></i> Publicar</td>
                                        <td style="width: 120px;"><input id="public" type="checkbox"
                                                onclick="event.preventDefault()" uk-toggle="target: #modal-publish"
                                                class="toggle"></td>
                                    </tr>
                                    <!--<tr>
                                        <td>Paleta</td>
                                        <td>{{palete}}</td>
                                    </tr>
                                    <tr>
                                        <td>Compatible con el Pack inicial:</td>
                                        <td>{{basico}}</td>
                                    </tr>
                                    <tr>
                                        <td>Compatible con el Pack medio:</td>
                                        <td>{{medio}}</td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>


                        <div id="color-table" class="table-container" style="height: 320px; overflow-y: auto">
                            <table class="uk-table uk-table-divider uk-table-small  uk-light uk-background-secondary">
                                <thead>
                                    <tr class="heading">
                                        <th><i class="header-icon fas fa-eye-dropper"></i></th>
                                        <th>Nombre</th>
                                        <th style="width: 20px;">Codigo</th>
                                        <th style="width: 20px;">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="details" v-for="color in colors" :key="color.name">
                                        <td class="color" v-bind:style="'background-color:'+color.rgb"></td>
                                        <td data-label="name" data-label="color">{{color.name}}</td>
                                        <td data-label="id">{{color.id}}</td>
                                        <td data-label="amount">{{color.amount}}</td>
                                    </tr>
                                </tbody>
                            </table>


                            <div id="modal-publish" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title">{{publicState ? 'Ocultar' : 'Publicar'}}</h2>
                                    <p>Estas seguro que deseas {{publicState ? 'ocultarlo' : 'publicarlo'}}?
                                        
                                        
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="form-stacked-select">Categoria</label>
                                            <div class="uk-form-controls">

                                                <select class="uk-select">
                                                    <option id="0">Anime</option>
                                                    <option id="1">Juegos</option>
                                                </select>
                                            </div>
                                        </div>

                                    </p>
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close"
                                            type="button">Cancelar</button>
                                        <button class="uk-button uk-button-secondary uk-modal-close"
                                            v-on:click="togglePublish()" type="button">{{publicState ? 'Ocultar' :
                                            'Publicar'}}</button>
                                    </p>
                                </div>
                            </div>
                            <!--
                            <div id="togglePublic">
                                <input id="public" type="checkbox" onclick="event.preventDefault()" uk-toggle="target: #modal-publish" class="toggle"> <label for="public">{{publicState ? 'Publico' : 'Privado'}}</label>
                            </div> -->
                        </div>


                    </div>

                </div>


                <div id="previewContainer" class="uk-width-1-2@s">
                    <table class="uk-table uk-table-divider  uk-light uk-background-secondary">
                        <thead>
                            <tr class="heading">
                                <th><i id="info-icon" class="header-icon fas fa-paint-brush"></i> Imagen</th>
                            </tr>
                        </thead>


                    </table>
                    <img id="previewCanvas" style="width: 100%;image-rendering: pixelated;">
                </div>

            </div>

        </div>

    </div>

    </div>



    <div id="main">
        <div class="btnfloat" id="openinfo">
            <div role="button" tabindex="0"> <i class="fas fa-arrow-right"></i> </div>
        </div>

        <input id="search" placeholder="Buscar" type="number">


        <canvas id="backgroundCanvas" style="image-rendering: pixelated; z-index: 1; "></canvas>
        <canvas id="renderCanvas" style="image-rendering: pixelated; z-index: 2;"></canvas>
        <canvas id="uiCanvas" width="100%" height="100%" style="z-index: 4;"></canvas>

        <!-- <canvas id="canvas4" style="image-rendering: pixelated; z-index: 3; "></canvas>  -->
    </div>


    <div style="display:none;">
        <img id="ui" src="img/ui.png?ddsf=sdf" width="768" height="384">
        <img id="mask" src="img/mask.png" width="1280" height="1280">
    </div>

    <script src="js/palette.js"></script>


    <script src="js/utils.js?asasd=234"></script>
    <script src="js/main.js?asasd=sdf"></script>
    <script src="js/events.js?asasd=234"></script>
    <script src="js/panels.js?asasd=234"></script>
    <script src="js/ui.js?asasd=asd"></script>

    <script src="js/ipc.js?asasd=asd"></script>

</body>

</html>